<%= form_for [@token, @prescription] do |f| %>

  <!-- Your other prescription fields -->
  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :formula %>
    <%= f.text_field :formula, class: "form-control" %>
  </div>

  <!-- Nested fields for medicines -->
  <div class="medicines">
    <%= f.fields_for :medicines do |medicine| %>
      <%= render 'medicine_fields', f: medicine %>
    <% end %>
  </div>

  <%= link_to_add_association "Add Medicine", f, :medicines, data: {association_insertion_node: '.medicines', association_insertion_method: :append}, class: 'btn btn-success my-3' %>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
