<div class="card">
	<div class="card-body">
		<h1 class="text-center">Perscription Details</h1>
	</div>
	<%=link_to "New Prescription", new_token_prescription_path, class:'btn btn_primary btn-lg' %>
	<table class="table table-border">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Formula</th>
				<th>Token</th>
			</tr>
		</thead>
		<tbody>
		 <%@prescriptions.each do |prescription| %>
		 <tr>
		 	<td><%=prescription.id %></td>
		 	<td><%=prescription.name%></td>
		 	<td><%=prescription.category%></td>
		 	<td><%=prescription.formula%></td>
		 	<td><%=prescription.token_id %></td>
		 	<td>
		 		<%= link_to "Edit", edit_token_prescription_path(token_id: prescription.token_id, id: prescription.id), class: 'btn btn_primary btn-lg' %>
		 		<%=link_to "Show", token_prescription_path(token_id:prescription.token_id,id:prescription.id), class:'btn btn_info btn-lg'%>

		 	</td>
		 </tr>
		 <%end%>
		</tbody>
	</table>
</div>
<style type="text/css">
	.btn_primary{
		background: blue;
		color: white;
	}
	.btn_info{
		background: #BBB;
		color: white;
	}
</style>