<div class="content-body">
<div class="card">
	<div class="card-body">
		<h1	class='text-center'>Prescription Details</h1>
	</div>
	<p class="lead"><strong>ID = </strong><%=@prescription.id %> </p>
	<p class="lead"><strong>Name = </strong><%=@prescription.name %> </p>
	<p class="lead"><strong>Type = </strong><%=@prescription.category %> </p>
	<p class="lead"><strong>Formula = </strong><%=@prescription.formula %> </p>
	<p class="lead"><strong>Token = </strong><%=@prescription.token_id %> </p>
</div>	
</div>


<style type="text/css">
 .content-body{
 	margin-left: 240px;
 }
</style>