<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
      
        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
              <% if current_user.userable_type == "Doctor" %>
                <h3>Doctor Profile</h3>
                <p>Manage Your Information</p>
              <% else %>
              <h3><%= @total_doctors %></h3>
              <p>Available Doctors</p>
              <% end %>


                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="<%=doctors_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
               <% if current_user.userable_type == "Patient" %>
                <h3>Patient Profile</h3>
                <p>Manage Your Details</p>
              <% else %>
             <h3><%= @total_patients %></h3>
             <p>Total Registered Patients</p>
            <% end %>

                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="<%=patients_path%>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <% if ["Patient", "Doctor"].include?(current_user.userable_type) %>
                   <h3>Token<span style="font-size: 80%;">(s)</span></h3>

                 <p>Access Your Token</p>
                  <% else %>
                 <h3><%= @total_tokens %></h3>
                <p>Total Token(s)</p>
               <% end %>

                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="<%=tokens_path%>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
             <% if current_user.userable_type == "Patient" %>
              <h3>Payment<span style="font-size: 80%;">(s)</span></h3>
               <p>View Your Payments</p>
            <% else %>
           <h3><%= @total_payments %></h3>
           <p>Overall Payment Summary</p>
            <% end %>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="<%=payments_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <!-- Main row -->
          
      </div><!-- /.content-wrapper -->
    </section>
  </div>
