<%=form_with model: @token do |form| %>
<div class="row">
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Blood_pressure, class:'mb-3' %>
			<%=form.text_field :Blood_pressure, class:'form-control form-control-lg' %>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Temperature, class:'mb-3' %>
			<%=form.text_field :Temperature, class:'form-control form-control-lg' %>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Weight, class:'mb-3' %>
			<%=form.text_field :Weight, class:'form-control form-control-lg' %>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :doctor_id, class:'mb-3' %>
			<%=form.text_field :doctor_id, class:'form-control form-control-lg' %>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :patient_id, class:'mb-3' %>
			<%=form.text_field :patient_id, class:'form-control form-control-lg' %>
		</div>
	</div>

<div class="col-lg-5">
	<div class="form-group">
		<%=form.label :payment, class:'mb-3' %>
		<%=form.text_field :payment, class:'form-control form-control-lg' %>
	</div>
</div>
</div>

   <div class="col-lg-5">
    	<%=form.submit class:'btn btn-primary btn-lg' %>
    	<%=link_to 'Back to Token', tokens_path,class:'btn btn-primary btn-lg' %>
    </div>
<%end%>
