<div class="col-lg-12">
	<div class="card">
		<div class="card-body">
			<h1 class="text-center">Token Infermation</h1>
		</div>
		 <p class="notice"><%= notice %></p>
	</div>
	<%=link_to 'New patient',new_token_path, class:'btn btn-primary btn-lg' %>
	</div>
	<table class="table table-borderd">
		<thead>
			<tr>
				<th>ID</th>
				<th>Blood Pressure</th>
				<th>Temperature</th>
				<th>Weight</th>
				<th>Doctor</th>
				<th>Patient</th>
				
			</tr>
		</thead>
		<tbody>
			<% @tokens.each do |token| %>
			<tr>
				<td><%=token.id %></td>
				<td><%=token.Blood_pressure %></td>
				<td><%=token.Temperature %></td>
				<td><%=token.Weight %></td>
				<td><%=token.doctor_id%></td>
				<td><%=token.patient_id %></td>
				
		        <td>
		        	<%=link_to "Edit", edit_token_path(token),class:'btn btn-info btn-lg' %>
		        	<%=link_to 'Show',token_path(token),class:'btn btn-primary btn-lg' %>
		        	<%= link_to 'Delete',token_path(token), method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-info btn-lg'%>
		        </td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>