<div class="col-lg-5">
	<div class="card">
		<div class="card-body">
			<h1 class="text-center">Reception Infermation</h1>
		</div>
	</div>
	<table class="table-border table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>ContectNo</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<%@receptions.each do |reception|%>
			<tr>
				<td><%=reception.id%></td>
				<td><%=reception.Name%></td>
				<td><%=reception.email%></td>
				<td><%=reception.phoneno%></td>
				<th><%=reception.address %></th>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>