<div class="col-lg-12">
	<div class="card">
		<div class="card-body">
			<h1 class="text-center">Patient Infermation</h1>
		</div>
	</div>
	<%=link_to 'New patient',new_patient_path, class:'btn btn-primary btn-lg' %>
	</div>
	<table class="table table-borderd">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>CNIC</th>
				<th>Contact</th>
				<th>Address</th>
				<th>Gender</th>
				<th>Date_of_birth</th>
			</tr>
		</thead>
		<tbody>
			<% @patients.each do |patient| %>
			<tr>
				<td><%=patient.id %></td>
				<td><%=patient.Name %></td>
				<td><%=patient.CNIC %></td>
				<td><%=patient.PhoneNo %></td>
				<td><%=patient.Address%></td>
				<td><%=patient.Gender %></td>
				<td><%=patient.date_of_birth%></td>
		        <td>
		        	<%=link_to "Edit", edit_patient_path(patient),class:'btn btn-info btn-lg' %>
		        	<%=link_to 'Show',patient_path(patient),class:'btn btn-primary btn-lg' %>
		        	<%= link_to 'Delete', patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-info btn-lg'%>
		        </td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>