<%=form_with model:@payment do |form| %> 
<div class="row">
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Amount, class:'mb-3' %>
			<%=form.text_field :amount, class:'form-control form-control-lg' %>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Payment_type, class:'mb-3' %>
			<%= form.select :payent_type, options_for_select(Payment.payment_types.keys ), {} ,class:'form-control form-control-lg'%>
			<%#=form.text_field :payment_type, class:'form-control form-control-lg' %>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Details, class:'mb-3' %>
			<%=form.text_field :detail, class:'form-control form-control-lg' %>
		</div>
	</div>
	<%if current_user.userable_type=="Patient" %>
		
			<%=form.hidden_field :token_id, class:'form-control form-control-lg' , value: params[:token_id]%>
			<%elsif current_user.userable_type=="Reception" %>
		<div class="col-lg-5">
  <div class="form-group">
    <%= form.label :token_id, "Select token_id", class: 'mb-3' %>
   <%= form.select :token_id, options_from_collection_for_select(Token.all, :id, ->(d) { "#{d.id} - #{d.patient.Name}" }), { prompt: "Choose a token_id + Patient_Name" }, class: "form-control form-control-lg" %>


  </div>
</div>	
	<%end%>	
		
	<div class="col-lg-5">
		
		<%=form.submit class:'abc btn btn-primaty btn-lg' %>
		<%=link_to "Back Payment",payments_path,class:'ab btn btn-primaty btn-lg' %>
		
	</div>
	
<%end%>

<style type="text/css">
    .abc {
        background-color: #7CFC00;
    }

    .ab {
        background-color: #FFFF00;
    }
</style>