<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />   
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body class="skin-blue  wysihtml5-supported">
    <div class="wrapper">
     
    
    <%=render 'shared/header' %>
   </div>

   <div class='content-body'>
    
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
     <%=render 'shared/doctor/aside' %>
     <%=render 'shared/footer' %>
  </body>
</html>


<style type="text/css">
  .content-body{    

    margin-left: 300px;
  }
</style>